<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory App</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="wrapper">
      <%- include('header') %>
      <main>
        <%if (genre === undefined) { %>
        <h1>All games</h1>
        <% } else { %>
        <h1><%= `${genre} games` %></h1>
        <% } %>
        <div class="game-list">
          <% games.forEach((game) => { %> <%- include('game', {game: game}); %>
          <% }); %>
        </div>
      </main>
      <%- include('footer') %>
    </div>
  </body>
</html>
