<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory App</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="wrapper">
      <%- include('header') %>
      <main>
        <h1>All genres</h1>
        <section class="game-list">
          <% genres.forEach((genre) => { %> <%- include('genre', {genre:
          genre}); %> <% }); %>
          <article class="new">
            <a href="/new/genre">+</a>
          </article>
        </section>
      </main>
      <%- include('footer') %>
    </div>
  </body>
</html>
