<header>
  <span>Game Database</span>
  <a href="/">Home</a>
  <a href="/games">Games</a>
  <a href="/genres">Genres</a>
  <a href="/new">New</a>
  <a href="/update">Update</a>
  <a href="/delete">Delete</a>
</header>
